@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    margin-top: 20px;
}

.section{
    padding: 10% 5%;
}

.img-header{
    display: flex;
   justify-content: center;

}

/* section filmes */

.filmes{
    padding-top: 60px;
    padding-bottom: 10px;
}

.filmes ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    column-gap: 30px;
    justify-items: center;
    
}

/* filmes-2 */

.filmes-2{
    padding-top: 10px;
}

.filmes-2 ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-start: 1;
    grid-column-end: 5;
    column-gap: 30px;
    justify-items: center;
    
}

.botao{
    background: rgb(40, 38, 38);
    color:white;
    padding: 1.2rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    font-family: 'Bebas Neue', sans-serif;
    
}

.filmes .botao, .filmes-2 .botao {
    display: flex;
    justify-content: center;
}


/* img */
li img{
    width: 250px;
    height:400px;
    border-radius: 20px;
    margin-top: 40px;  
}

li img:hover{
    transform: translateY(-5px);
    transition: transform .8s;
}

h3{
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    padding-top: 20px;
    color: black;
    text-shadow: 2px 2px 0px rgb(199, 199, 91);
    font-size: 1.8rem;
}



/* media query */
@media only screen and (max-width: 768px) {
.filmes ul{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
    justify-items: center;   
}

.filmes-2 ul{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
    justify-items: center;   
}

li img{
    width: 280px;
    height:400px;
    margin-top: 50px;
}

}


